﻿^contentpage {
     background-color: lightcyan;
 }
 
stacklayout {
    margin: 15;
    padding: 10;
}
 
label {
    color: black;
}
 
#header {
    font-size: 32;
    font-weight:bold;
}
 
.english {
    font-weight: bold;
    font-size: large;
    color: darkblue;
}
 
.russian {
    font-size:medium;
}
 
stacklayout label {
    font-family:Verdana;
}